@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.animate-spotlight {
  animation: spotlight 2s ease 0.75s forwards;
}

html {
  scroll-behavior: smooth;
}
